{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>Batuwa</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
		
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css'%}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css'%}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

		<!-- Fengyuan Chen's Datepicker -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
	</head>		
	<body class="home-page">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
					
			<!-- Start Navigation -->
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{% url 'Freelancing:home' %}" class="navbar-brand logo">
							<img src="{% static 'assets/img/logo.png'%}" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="{% static 'assets/img/logo.png'%}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a href="index.html">Home</a>
							</li>
							<li class="has-submenu">
								<a href="">For Batuwa<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Batuwa</a>
										<ul class="submenu">
											<li><a href="developer.html">Batuwa</a></li>
											<li><a href="developer-details.html">Batuwa Details</a></li>
										</ul>
									</li>
									<li><a href="dashboard.html">Dashboard</a></li>	
									<li><a href="manage-projects.html">Tasks</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="membership-plans.html">Membership</a></li>
									<li><a href="milestones.html">Milestones</a></li>
									<li><a href="chats.html">Chats</a></li>
									<li><a href="review.html">Review</a></li>			
									<li><a href="deposit-funds.html">Payments</a></li>							
									<li><a href="verify-identity.html">Verify Identity</a></li>								
									<li><a href="profile-settings.html">Settings</a></li>								
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">For Travellers<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Tasks</a>
										<ul class="submenu">
											<li><a href="project.html">Tasks</a></li>
											<li><a href="project-details.html">Task Details</a></li>
										</ul>
									</li>
									<li><a href="freelancer-dashboard.html">Dashboard</a></li>	
									<li><a href="freelancer-project-proposals.html">Tasks</a></li>
									<li><a href="freelancer-favourites.html">Favourites</a></li>
									<li><a href="freelancer-membership.html">Membership</a></li>
									<li><a href="freelancer-change-password.html">Change Password</a></li>
									<li><a href="freelancer-chats.html">Chats</a></li>
									<li><a href="freelancer-review.html">Review</a></li>			
									<li><a href="freelancer-withdraw-money.html">Payments</a></li>							
									<li><a href="freelancer-verify-identity.html">Verify Identity</a></li>				
									<li><a href="freelancer-profile-settings.html">Settings</a></li>				
								</ul>
							</li>
							
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li>
								<a href="admin/index.html" target="_blank">Admin</a>
							</li>
						</ul>
					</div>		 
					<ul class="nav header-navbar-rht">												
						<li><a href="{% url 'Freelancing:register' %}" class="reg-btn"><i class="fas fa-user"></i> Register</a></li>
						<li><a href="{% url 'Freelancing:login' %}" class="log-btn"><i class="fas fa-lock"></i> Login</a></li>
						<li><a href="post-project.html" class="login-btn">Post a Task </a></li>
					</ul>
				</nav>
			</header>
			<!-- /Header -->		

			{% block content%}

			{% endblock%}
			
			
		
		</div>		
		<!-- /Main Wrapper -->
	
		<!-- jQuery -->
		<script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="a{% static 'ssets/js/bootstrap.bundle.min.js'%}"></script>
		
		<!-- Owl Carousel -->
		<script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>	
		
		<!-- Select2 JS -->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js'%}"></script>
		
		<!-- Slick JS -->
		<script src="{% static 'assets/js/slick.js'%}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js'%}"></script>
		
			
		
	</body>
</html>